body {
    background-color: rgb(163, 202, 239);
    margin-left: 100px;
  }
  
  h1 {
    color: navy;
    /* margin-left: 20px; */
  }

  table {
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    border: 3px solid navy;
  }

th,
td {

  border: 1px solid navy;
  padding: 10px;
}



