{% load static %}

<!doctype html>
<html>
    <head>
        <title>DC Logbook</title>
        <link rel="stylesheet" href="{% static 'rowboats.css' %}">
    </head>
    <body>
        <header>
            <h1>Dolphin Swimming and Rowing Club</h1>
            <nav>
                {% if user.is_authenticated == False %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'list_rowboats' %}">Logbook</a>
                </li>
                <li>
                    <a href="{% url 'public_view' %}">View All</a>
                </li>
                {% endif %}
            </nav>
        </header>
        {% block content%}
        {% endblock content %}
        <footer>
            <h4>Copyright section</h4>
            <h4>Site created by Megan Ehrlich August 2022</h4>
            
    </body>
</html>