{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h2>Create Comment For Rowboat</h2>
        <p>Please click create to make note of any issues you notice on your rowboat.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>

{% endblock content %}