{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h2>{{ boat.name }}</h2>
        {% if boat.capacity > 1 %}
            <p>For {{ boat.capacity }} rowers</p>
        {% else %}
            <p>For {{ boat.capacity }} rower</p>
        {% endif %}
            <p>Weight: {{ boat.weight }} lbs</p>
            <p><img src={{ boat.image }} width=500, height=auto ></p>
            <h3>Notes from rowers:</h3>
        {% for comment in boat.comments.all %}
            <li>{{ comment.comment }}</li>
        {% endfor %}
    </div>
    <p><a href="{% url 'create_comment' %}">Comment</a></p>
</main>

{% endblock content %}