{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Public View</h1>
    <p>This page shows all of the Dolphin Club's 
        wooden rowboats.  If you are a member</p>
    <p> please log in to checkout or return your boat. If 
        this is your first time using the site </p>
    <p>please signup using the link above.</p>
    </div>
        {% for boat in rowboats %}
            <h3><u><a href="{% url 'rowboat_detail' boat.pk %}">{{ boat.name }}</a></u></h3>
            
            {% if boat.capacity > 1 %}
            <p>For {{ boat.capacity }} rowers</p>
            {% else %}
            <p>For {{ boat.capacity }} rower</p>
            {% endif %}
            <p>Weight: {{ boat.weight }}lbs</o>
            <p><img src={{ boat.image }} width=500, height=auto ></p>
        {% endfor %}
    </div>

    <div>
        <h2>The club also has an extensive range of other boats:</h2>
        {% for boat in otherboats %}
            <h3><u><a href="{% url 'otherboat_detail' boat.pk %}">{{ boat.type }}</a></u></h3>
            {% if boat.type == 'SUP' %}
            <p>Max time limit 3 hours<p>
            {% else %}
            <p>Max time limit is 6 hours</p>
            {% endif %}
            <h4>{{ boat.name }}</h4>
            <p><img src={{ boat.image }} width=500, height=auto ></p>
            
        
        {% endfor %}
        
    </div>
    <a href="{% url 'public_view' %}">Return to Top</a>
</main>



{% endblock content %}