{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h2>{{ boat.type }}</h2>
        {% if boat.type == kayak %}
            {% for boat in boat.type %}
                {{ boat.name }}
            {% endfor %}
        <p>The Dolphing club has 8 kayaks.  The maximum 
            time for a kayak to be checked out is 6 hours.</p>
        {% elif boat.type == shell %}
        <p>The Dolphin Club has 6 rowing shells.  Wind
            conditions must be appropriate and maximum time 
            the shells can be checked out is 6 hours.</p>
        {% else %}
        <p>The Dolphin Club has 4 Stand Up Paddleboards.  
            Conditions must be appropriate to take these 
            out and the maximum checkout time is 2 hours.</p>
        {% endif %}
    </div>
   
</main>

{% endblock content %}