
{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Member's Logbook</h1>
    <div>
        <h3>Wooden Rowboats</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                {% for boat in rowboats %}
                    <tr>

                        <td><a href="{% url 'rowboat_detail' boat.pk %}">{{ boat.name }}</a></td>
                        <td>{{ boat.capacity }}</td>
                        {% if boat.availability == False %}
                            <td> 
                                <form method="post" action="{% url 'checkout' boat.pk %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button>Checkout</button>
                                </form>
                            </td>
                        {% else %}
                            <td> 
                                <form method="post" action="{% url 'checkin' boat.pk %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button>Return</button>
                                </form>
                            </td>
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <h3><a href="{% url 'create_comment' %}">Create a Comment</a></h3>
        <p>If there was any damage to the boat, or any concerns you noted please create a comment.</p>
    </div>
    <div>
        <h3>Other Boats</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Available</th>
            </thead>
            <tbody>
                {% for oboat in otherboats %}
                <tr>

                    <td>{{ oboat.name }}</td>
                    <td>{{ oboat.type }}</td>
                    {% if oboat.availability == False %}
                        <td> 
                            <form method="post" action="{% url 'ocheckout' oboat.pk %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button>Checkout</button>
                            </form>
                        </td>
                    {% else %}
                        <td> 
                            <form method="post" action="{% url 'ocheckin' oboat.pk %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button>Return</button>
                            </form>
                        </td>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
                
    </div>


</main>



{% endblock content %}